
.line-tree {
   li {
     display: grid;
     grid-template-columns: 2%;
   }
  }
$new-ring-size: $ring3-size;
@for $i from 1 through 6 {
  .cola#{$i} {
    @include myRingNoResp($new-ring-size + $i, $ring3-strenght, lighten($ring3-color, 8% * $i));
  }
}
